.card-glow {
    box-shadow: 0 0 15px rgb(0,123,255);
    transition: box-shadow 0.3s ease-in-out;
}

.col-md-4 {
    padding: 10px 10px 10px 10px
}

.btn-primary {
    /* padding: 0 10px 0 0 */
}

.album-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
