.card-glow {
    box-shadow: 0 0 15px rgb(0,123,255);
    transition: box-shadow 0.3s ease-in-out;
}

.col-md-4 {
    padding: 10px 10px 10px 10px
}

.btn-primary {
    /* padding: 0 10px 0 0 */
}

.album-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#genreDropdown {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #ffffff54;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #ffffff54;
}

/* .colorChange {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */
