#card-container {
    display:flex;
    justify-content: center;
    }
    
    
    #card-container img {
    width: 200px;
    height: auto;
    margin: 20px;
    }
    
    
    #card-container img:hover {
    filter: drop-shadow(0 0 0.75rem white)
    }
    